@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link-btn {
        @apply rounded-md border border-black text-neutral-600 dark:bg-neutral-800 px-3 py-1 font-semibold dark:text-white transition-all duration-200 dark:hover:bg-neutral-700 hover:bg-neutral-100 dark:border-neutral-500 disabled:text-neutral-500 disabled:dark:text-neutral-500 disabled:hover:bg-transparent disabled:hover:dark:bg-neutral-800
    }
    .centered-section{
        @apply container mx-auto flex min-h-full flex-grow flex-col items-center justify-center
    }
    .btn-with-hover{
        @apply h-10 w-10 cursor-pointer rounded-full p-2 transition-colors duration-200 hover:bg-neutral-300 dark:hover:bg-neutral-700
    }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
  }

@layer base {
    html {
      @apply font-ubuntu
    }
    li{
        list-style: none;
    }
  }
